<!DOCTYPE html>
@using System.Reflection;
@using AccountControl2.Controllers;
@using AccountControlLib;

@model List<Role>

<html>
<head>
	<meta charset="utf-8" />
	<title>Role List</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
	<link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>	
	@using (Html.BeginForm("List", "AccountList", FormMethod.Post))
	{
		<div class="container">
			<div class="row">
				<h1>Role List</h1>
				<div class="form col-lg-12">
					<table>
						<tr>													
							@foreach (PropertyInfo propInfo in typeof(Role).GetProperties().Where(p => p.GetCustomAttribute<DontShowOnForm>() == null))
							{
								<th>@propInfo.Name</th>								
							}
						</tr>
						@if (Model?.Any() == true)
						{
							for (int i = 0; i < Model.Count; i++)
							{
						<tr>
							@foreach (PropertyInfo propInfo in typeof(Role).GetProperties().Where(p => p.GetCustomAttribute<DontShowOnForm>() == null))
							{
								<td>@propInfo.GetValue(Model[i])</td>
							}
							<td><a href="@Url.Action("Edit", new { id=Model[i].ID})" ForeColor="#aa9933"> Edit</a></td>
							<td><a href="@Url.Action("Delete", new { id=Model[i].ID})" ForeColor="#ee5588"> Delete</a></td>
						</tr>
							}
						}
					</table>					
				</div>
			</div>
			<div class="row">
				<div class="footer col-lg-12">
					<input value="Add Role" class="btn" type="button" onclick="location.href='@Url.Action("create")'" />
					<a href="@Url.Action("List", "AccountList")" ForeColor="#66ffff">Users List</a>
				</div>
			</div>
		</div>
	}

	</body>
</html>
